.al2{
    width: 1900px;
    height: 900px;
    border: 6px;
    align-content: center;
    text-align: center;
}
.al3{
    width: 1918px;
    height: 200px;
    border: 5px;
    align-content: center;
    text-align: center;
}
.al4{
    width: 1900px;
    height: 700px;
    border: 5px;
    align-content: center;
    text-align: center;
}
.al5{
    width: 1920px;
    height: 700px;
    border: 1px;
    align-content: center;
    text-align: center;
}
.al6{
    width: 1900px;
    height: 1000px;
    border: 1px;
    align-content: center;
    text-align: center;
}
.al7{
    width: 1920px;
    height: 1000px;
    border: 1px ;
    align-content: center;
    text-align: center;
}
