@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.banner {
    width: 100%;
    position: relative;
}

.text {
    background-color: rgba(255, 255, 255, 0.85);
    left: 197px;
    top: 50%;
    height: 395px;
    width: 551px;
    position: absolute;
    border-radius: 30px;
}

.client {
    width: 100%;
}

.heading {
    font-family: 'Cabin';
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    line-height: 115.99999999999999%;
    margin-left: 58px;
    margin-top: 55px;
}

.description {
    margin-top: 19px;
    margin-bottom: 4px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    margin-left: 58px;


}

.buttonss {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    margin-left: 58px;
}

.black {
    background-color: rgb(24, 24, 24, 1);
    border-radius: 42px;
    color: white;
    width: 167px;
    height: 61px;
    font-family: Lato;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
}

.white {
    width: 202px;
    height: 60px;
    border-radius: 42px;
    border-color: rgba(128, 128, 128, 0.255);
    background-color: white;
    font-family: Lato;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    gap: 5px;

}

.ellips {
    background-color: rgba(78, 175, 78, 1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-left: 10px;
}

.aboutteam {
    width: 100%;
    height: 770px;
    display: flex;
    gap: 65px;
    justify-content: center;
    align-items: center;
}

.aboutteam.reverse {
    flex-direction: row-reverse;
}

.aboutteamblock {
    margin-top: 126px;
}

.aboutteamh3 {
    font-family: 'Cabin';
    font-weight: 700;
    font-style: Bold;
    font-size: 45px;
    line-height: 115.99999999999999%;
    width: 420px;
    height: 107px;
    margin-top: 22px;
}

.team {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    letter-spacing: 1px;
    width: 120px;
    height: 24px;
    text-transform: uppercase;
    background-color: rgb(255, 204, 74, 1);
    border-radius: 20px;
    text-align: center;

}

button {
    cursor: pointer;
}

.boldtext {
    width: 373px;
    height: 54px;
    font-family: 'Lato';
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 148%;
}

.normtext {
    width: 420px;
    height: 48px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    color: rgba(89, 85, 102, 1);
}

.counter {
    width: 380px;
    height: 130px;
    margin-top: 55px;
}

.aboutteamimages {
    margin-top: 108px;
}

.servicesblock {
    height: 1182px;
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.highblock {
    display: flex;
    height: 136px;
    align-items: center;
    flex-direction: column;
}

.services {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    letter-spacing: 1px;
    width: 120px;
    height: 24px;
    text-transform: uppercase;
    background-color: rgba(78, 175, 78, 1);
    color: white;
    border-radius: 20px;
    text-align: center;
}

.getcontrol {
    font-family: 'Cabin';
    font-weight: 700;
    font-style: Bold;
    font-size: 45px;
    line-height: 115.99999999999999%;
    width: 781px;
    height: 104px;
    text-align: center;
    margin-top: 8px;
}

.footblock {
    margin-top: 38px;
    display: flex;
    height: 668px;
    width: 1300px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.box {
    height: 324px;
    width: 387px;
    border-radius: 20px;
    background-color: rgba(235, 235, 235, 1);
}

.box1content {
    margin-left: 47px;
    margin-top: 49px;
}

.box2 {
    height: 324px;
    width: 387px;
    border-radius: 20px;
    background-color: rgba(24, 24, 24, 1);
    color: white;
    ;
}

.box2 .title {
    margin-top: 25px;
    width: 220px;
    height: 29px;
    font-family: 'Cabin';
    font-weight: 600;
    font-size: 25px;
    line-height: 115.99999999999999%;
}

.box2 .descriptionbox {
    margin-top: 10px;
    width: 293px;
    height: 72px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    color: rgb(255, 255, 255);
}

.title {
    margin-top: 25px;
    width: 252px;
    height: 29px;
    font-family: 'Cabin';
    font-weight: 600;
    font-size: 25px;
    line-height: 115.99999999999999%;
}

.descriptionbox {
    margin-top: 10px;
    width: 293px;
    height: 72px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    color: rgba(89, 85, 102, 1);
}

.processblock {
    height: 1023px;
    display: flex;
    gap: 117px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.process {
    height: 723px;
    width: 507px;
}

.process .getcontrol {
    width: 507px;
    height: 104px;
    text-align: left;
}

.process .descriptionbox {
    width: 488px;
    height: 72px;
}

.processminiblock {
    display: flex;
    gap: 16px;
    width: 400px;
    align-items: center;
    height: 141px;
}

.processminiblock12 {
    display: flex;
    flex-direction: column;

}

.processminiblock .ellips {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cabin';
    font-weight: 600;
    font-size: 26px;
    line-height: 115.99999999999999%;
    background: rgba(255, 204, 74, 1);
}

.mininame {
    width: 149px;
    height: 23px;
    font-family: 'Cabin';
    font-weight: 600;
    font-size: 20px;
    line-height: 115.99999999999999%;
}

.processminiblock .descriptionbox {
    width: 331px;
    height: 52px;
}

.processminiblock .ellips2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cabin';
    font-weight: 600;
    font-size: 26px;
    line-height: 115.99999999999999%;
    background: rgba(78, 175, 78, 1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-left: 10px;
    color: white;
}

.processminiblock .ellips3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cabin';
    font-weight: 600;
    font-size: 26px;
    line-height: 115.99999999999999%;
    background: rgb(0, 0, 0);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-left: 10px;
    color: white;
}

.growingourclientsblock {
    width: 573px;
    height: 723px;
}

.growingourclientsblock .services {
    width: 319px;
    background: rgba(255, 204, 74, 1);
    color: black
}

.growingourclientsblock .getcontrol {
    text-align: left;
    width: 444px;
    height: 52px;
}

.growingourclientsblock .descriptionbox {
    width: 542px;
}

.square {
    width: 573px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.square .box {
    width: 279px;
    height: 221px;
    text-align: left;
    background: rgba(250, 250, 250, 1);
    border: 1px solid;
    border-color: rgba(234, 234, 234, 1);
    padding: 20px;
}

.square .descriptionbox {
    width: 233px;
}

.galleryblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    height: 1146px;
    background-color: black;
}

.galleryhighblock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.galleryhighblock1 {
    width: 731px;
}

.galleryhighblock2 {
    width: 469px;
    padding-top: 55px;
    padding-left: 240px;
}

.galleryhighblock1 .getcontrol {
    width: 731px;
    color: white;
    text-align: left;
}

.galleryhighblock2 .white {
    width: 168px;
    background: rgba(255, 204, 74, 1);
    text-align: center;
    padding-left: 30px;
    font-size: 18px;
    line-height: 160%;
}

.maincounter {
    margin-top: 54px;
    display: flex;
    justify-content: center;
}

.counterblock {
    display: flex;
    width: 895px;
    justify-content: space-between;
}

.counterminiblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.counterminiblock .heading {
    margin: 0;
}

.cmb {
    width: 126px;
    height: 21px;
    font-family: 'Cabin';
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 115.99999999999999%;
}

.cmb1 {
    width: 138px;
    height: 21px;
    font-family: 'Cabin';
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 115.99999999999999%;
}

.clientfeedback {
    margin-top: 146px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 143px;
}

.clientfeedback .services {
    width: 205px;
}

.footerblock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 654px;
}

.booknow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.booknowblock {
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 93px;
    width: 1200px;
    background-color: black;
}

.booknowminiblock .getcontrol {
    width: 427px;
    color: white;
    text-align: left;
}

.booknowminiblock .descriptionbox {
    color: white;
    width: 427px;
}

.yellowbutton {
    margin-top: 21px;
    width: 202px;
    height: 60px;
    border-radius: 42px;
    background-color: rgba(255, 204, 74, 1);
    font-family: 'Lato';
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.blog {
    margin-top: 169px;
    background-color: rgba(245, 245, 245, 1);
    height: 1131px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.blog .services {
    width: 74px;
}

.blog .getcontrol {
    color: black;
}

.blogfooter {
    display: flex;
    gap: 36px;
    justify-content: center;
}

.firstblock {
    display: flex;
    flex-direction: column;
    width: 582px;
    gap: 28px;

}

.firstblock .getcontrol {
    text-align: left;
    width: 561px;
    font-size: 30px;
    height: 71px;
}

.firstblock .descriptionbox {
    width: 545px;
}

.contactus {
    height: 783px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactus .process {
    display: flex;
    gap: 38px;
    flex-direction: column;
    height: 534px;
}

.contactus .services {
    background: rgba(255, 204, 74, 1);
    color: black;
}

.contactus .getcontrol {
    height: 52px;
}

.contactus .descriptionbox {
    height: 24px;
}

.contactus .mininame {
    width: 262px;
}

.contactus .processminiblock {
    width: 330px;
    height: 80px;
}

.formsname {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    width: 133px;
}

.firstform {
    height: 100px;
}

.forms {
    display: flex;
    width: 688px;
    flex-wrap: wrap;
    gap: 28px;
    align-items: center;
    justify-content: center;
    height: 534px;
}

.form {
    margin-top: 8px;
    width: 318px;
    height: 68px;
    text-align: left;
    border: 1px solid rgba(193, 193, 193, 1);
    border-radius: 54px;
    font-size: 16px;
}

input::placeholder {
    padding-left: 30px;
}

.form2 {
    margin-top: 8px;
    width: 666px;
    height: 157px;
    border: 1px solid rgba(193, 193, 193, 1);
    border-radius: 22px;
    font-size: 16px;
}

.form2::placeholder {
    padding-bottom: 50px;
}
<<<<<<< HEAD
=======

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

[class*=flex-] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.flex-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.flex-betwen {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-collumn {
    flex-direction: column;
}

.grow {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

>>>>>>> origin/Bondarenko
@media (max-width: 768px) {
    .text {
        left: 197px;
        top: 65%;
        height: 200px;
        width: 420px;
    }
<<<<<<< HEAD
    .heading {
    font-size: 30px;
    margin-left: 30px;
    margin-top: 25px;
}
    .description {
        display: none;
}
    .buttonss {
    gap: 10px;
    padding-top: 20px;
    margin-left: 20px;
}
    .aboutteamblock {
        margin-top: 0px;
    }
    .aboutteamimages {
        display: none;
    }
    .team {
        width: 100%;
    }
=======

    .heading {
        font-size: 30px;
        margin-left: 30px;
        margin-top: 25px;
    }

    .description {
        display: none;
    }

    .buttonss {
        gap: 10px;
        padding-top: 20px;
        margin-left: 20px;
    }

    .aboutteamblock {
        margin-top: 0px;
    }

    .aboutteamimages {
        display: none;
    }

    .team {
        width: 100%;
    }

>>>>>>> origin/Bondarenko
    .aboutteamh3 {
        width: 600px;
        text-align: center;
    }
<<<<<<< HEAD
    .boldtext  {
        width: 600px;
        text-align: center;
    }
=======

    .boldtext {
        width: 600px;
        text-align: center;
    }

>>>>>>> origin/Bondarenko
    .normtext {
        width: 600px;
        text-align: center;
    }
<<<<<<< HEAD
    .counter {
        margin-left: 110px;
    }
=======

    .counter {
        margin-left: 110px;
    }

>>>>>>> origin/Bondarenko
    .servicesblock {
        gap: 35px;
        height: 2600px;
    }
<<<<<<< HEAD
=======

>>>>>>> origin/Bondarenko
    .highblock {
        width: 600px;
        height: 200px;
    }
<<<<<<< HEAD
    .services {
    width: 100%;
    height: 24px;
}
=======

    .services {
        width: 100%;
        height: 24px;
    }

>>>>>>> origin/Bondarenko
    .highblock .getcontrol {
        width: 600px;
        height: 160px;
    }
<<<<<<< HEAD
=======

>>>>>>> origin/Bondarenko
    .footblock {
        margin-top: 0px;
        width: 600px;
        height: 2200px;
    }
<<<<<<< HEAD
=======

>>>>>>> origin/Bondarenko
    .processblock {
        flex-direction: column;
        height: 1800px;
    }
<<<<<<< HEAD
    .process .getcontrol {
        text-align: center;
    }
    .process .descriptionbox {
        text-align: center;
    }
=======

    .process .getcontrol {
        text-align: center;
    }

    .process .descriptionbox {
        text-align: center;
    }

>>>>>>> origin/Bondarenko
    .processminiblock {
        width: 507px;
        justify-content: center;
    }
<<<<<<< HEAD
    .processminiblock12 {
        align-items: center;
    }
=======

    .processminiblock12 {
        align-items: center;
    }

>>>>>>> origin/Bondarenko
    .growingourclientsblock .getcontrol {
        text-align: center;
        width: 573px;
    }
<<<<<<< HEAD
    .growingourclientsblock .services {
        width: 100%;
    }
    .growingourclientsblock .descriptionbox {
        text-align: center;
    }
=======

    .growingourclientsblock .services {
        width: 100%;
    }

    .growingourclientsblock .descriptionbox {
        text-align: center;
    }

>>>>>>> origin/Bondarenko
    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
<<<<<<< HEAD
    .title {
        text-align: center;
    }
    .galleryblock {
        height: 300px;
    }
=======

    .title {
        text-align: center;
    }

    .galleryblock {
        height: 300px;
    }

>>>>>>> origin/Bondarenko
    .galleryhighblock {
        width: 700px;
        gap: 20px;
    }
<<<<<<< HEAD
    .galleryhighblock1 {
        width: 460px;
    }
    .galleryblock .galleryhighblock .galleryhighblock2 .white {
        padding-left: 20px;
    }
    .galleryhighblock1 .services {
        width: 100%;
    }
=======

    .galleryhighblock1 {
        width: 460px;
    }

    .galleryblock .galleryhighblock .galleryhighblock2 .white {
        padding-left: 20px;
    }

    .galleryhighblock1 .services {
        width: 100%;
    }

>>>>>>> origin/Bondarenko
    .galleryhighblock1 .getcontrol {
        width: 500px;
        font-size: 30px;
        height: 80px;
    }
<<<<<<< HEAD
=======

>>>>>>> origin/Bondarenko
    .galleryhighblock2 {
        width: 150px;
        padding-left: 0px;
        padding-top: 20px;
    }
<<<<<<< HEAD
    .galleryimg {
        display: none;
    }
=======

    .galleryimg {
        display: none;
    }

>>>>>>> origin/Bondarenko
    .booknowblock {
        width: 700px;
        height: 400px;
    }
<<<<<<< HEAD
    .booknowblock img {
        display: none;
    }
=======

    .booknowblock img {
        display: none;
    }

>>>>>>> origin/Bondarenko
    .booknowminiblock .getcontrol {
        font-size: 35px;
        text-align: center;
        height: 80px;
    }
<<<<<<< HEAD
    .booknowminiblock .descriptionbox {
        text-align: center;
    }
    .yellowbutton {
        margin-left: 112.5px;
    }
    .galleryhighblock2 .white {
        width: 150px;
    }
=======

    .booknowminiblock .descriptionbox {
        text-align: center;
    }

    .yellowbutton {
        margin-left: 112.5px;
    }

    .galleryhighblock2 .white {
        width: 150px;
    }

>>>>>>> origin/Bondarenko
    .blog {
        margin-top: 70px;
        height: 800px;
    }
<<<<<<< HEAD
    .blogfooter .firstblock {
        width: 300px;
    }
=======

    .blogfooter .firstblock {
        width: 300px;
    }

>>>>>>> origin/Bondarenko
    .firstblock .getcontrol {
        width: 300px;
        height: 100px;
    }
<<<<<<< HEAD
=======

>>>>>>> origin/Bondarenko
    .firstblock .descriptionbox {
        width: 300px;
        height: 115px;
    }
<<<<<<< HEAD
=======

>>>>>>> origin/Bondarenko
    .contactus {
        width: 750px;
        flex-direction: column;
        height: 1300px;
        gap: 30px;
        margin-top: 50px;
    }
<<<<<<< HEAD
    .contactus .process {
        gap: 20px;
    }
    .roof .descriptionbox {
        width: 600px;
    }
    .contactus .processminiblock {
        height: 70px;
    }
=======

    .contactus .process {
        gap: 20px;
    }

    .roof .descriptionbox {
        width: 600px;
    }

    .contactus .processminiblock {
        height: 70px;
    }

>>>>>>> origin/Bondarenko
    .forms {
        flex-direction: column;
        height: 1000px;
    }
<<<<<<< HEAD
    .forms .firstform {
        width: 100%;
    }
    .forms .form {
        width: 100%;
    }
    .forms .black {
        width: 100%;
    }
}
=======

    .forms .firstform {
        width: 100%;
    }

    .forms .form {
        width: 100%;
    }

    .forms .black {
        width: 100%;
    }
}
>>>>>>> origin/Bondarenko
